<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Secure ASP.NET Core MVC app with Vue.js</title>
</head>
<body>
   
    <noscript>
      <strong>We're sorry but vuejs doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
	
    @RenderBody()

    @RenderSection("Scripts", required: false)

</body>
</html>
