<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Secure ASP.NET Core MVC app with Vue.js</title>
</head>
<body>
   
    <app-component>Loading...</app-component>

    @RenderBody()

    @RenderSection("Scripts", required: false)

</body>
</html>
