@{
    ViewData["Title"] = "Home";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="__RequestVerificationToken"
       name="__RequestVerificationToken" value="@GetAntiXsrfRequestToken()">


<h6>This is the Home Index.cshtml view</h6>
